.container{
background-color: red;
height: 0px;
}

.color_azul{
    background-color: rgb(244, 244, 247);
    height: 600px;
}



.color_rojo{
    background-color: rgb(184, 14, 14);
    height: 600px;
}

.color_blanco{
    background-color: white;
    height: 1000px;
}

.img-fluid{
    width: 100% ;
}

.letras1{
    font-size: 4rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;


}

.foto{
    height: 600px;
    background: no-repeat;
    background-color: rgb(184, 14, 14);

}
@media(min-width:709px){
.foto{
    background-image:url(../../img/celular.jpg);
}
}

@media(max-width:709px){
.foto{
    background-image:url(../../img/iphone8_red_small.jpg);
}
}
    

